
mat-expansion-panel{
    margin-bottom: 2em;
    margin-right: 1em;
}
.mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing{
    margin-bottom: 2em;
}
.grid{
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.all__results{
    font-weight: 400;
    letter-spacing: 1px;
}
