.simulation__form{
    padding: 1em;
    font-family: TitilliumWeb-Regular;
    text-align: center;
    .additional__settings{
        grid-template-columns: 1fr 1fr;
        .check__box_position{
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            input[type="checkbox"]{
                margin-left: 10px;
            }
        }
    }
    &>div{
        margin-bottom: 1em;
        display: grid;
        justify-content: center;
        h5{
            margin: 0;
            color: red;
        }
        label{
            font-weight: 900;
        }
        input[type="text"], input[type="number"]{
            margin: 10px;
            border: none;
            border-top: var(--border-color);
            border-bottom: var(--border-color);
            height: 30px;
            transition: 1s box-shadow ease-in-out;
            color: #2eb764c9;
            text-align: center;
            font-family: TitilliumWeb-Regular;
            font-weight: 900;
            font-size: 18px;
            &::placeholder{
                font-family:TitilliumWeb-Regular;
                font-size: 14px;
                text-align: center;
            }
            &:focus{
                border-color:#685ed385;
                box-shadow: 0px 3px 2px #685ed385, 0px -3px 2px #685ed385;
                outline: none;
            }
        }
    }
    &>button[type='submit']{
        background: #46a35eb8;
        padding: 0.7em 2.5em;
        border: none;
        color: #fff;
        border-radius: 2px;
        cursor: pointer;
        font-family: TitilliumWeb-Regular;
        transition: .5s ease-in-out;
        &:hover{
            background: #46a35e;
        }
    }
}