<div *ngIf="pieChartData.length != 0;" class="chart-wrapper">
    <div style="display: block;">
        <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
    <div class="result__simulation">
        <h2><img src="../../assets/images/population.svg" alt="">Total population {{population}}</h2>
        <div class="total__amount">
          <h2><img src="../../assets/images/skull.svg" alt="">Death: {{deathInPercentage}}%</h2>
          <h2><img src="../../assets/images/vaccine.svg" alt="">Healthy with immunity: {{healthyWithImmunityInPercentage}}%</h2>
          <h2><img src="../../assets/images/coronavirus.svg" alt=""> Infected: {{infectedInPercentage}}%</h2>
        </div>

    </div>
</div>