.result__simulation{
    h2{
        display: flex;
        align-items: center;
        img{
            width: 22px;
            margin-right: 10px;
        }
        
    }
    .total__amount{
        margin-left: 30px;
    }
}