.result__simulation{
    h2{
      
        img{
            width: 22px;
            margin-right: 10px;
        }
        ul{
            margin-top: 15px;
            margin-left: 1em;
        }
    }
    .total__amount{
        margin-left: 30px;
    }
}