<section class="main__background">


    <div class="container">
  
      <div class="main__background">
        <div class="grid">
            <app-simulation-data-panel class="simulation__current_data"></app-simulation-data-panel>
            <app-simulation-panel class="simulation__panel"></app-simulation-panel>
            <app-simulation-chart class="simulation__chart"></app-simulation-chart>
          </div>
          <img class="virus__bg virus__one" src="../assets/images/virus.png" alt="">
          <img class="virus__bg virus__two" src="../assets/images/virus.png" alt="">
          <img class="virus__bg virus__three" src="../assets/images/virus.png" alt="">
          <img class="virus__bg virus__four" src="../assets/images/virus.png" alt="">
          <img class="virus__bg virus__five" src="../assets/images/virus.png" alt="">
      </div>
    
    </div>
  
 
  </section>