.simulation__chart_section{
    height: 100%;
}
.simulattion__not_started{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: TitilliumWeb-Regular;
}